<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners><listener class-name="com.thetestingacademy.basetest.RetryListeners"/></listeners>
    <test verbose="2" preserve-order="true" parallel="methods" name="ATB4xSeleniumAdvanceFramework">
        <classes>
            <class name="com.thetestingacademy.thousifWorkSpace.Selenium.runfailedTestCases">
            </class>
        </classes>
    </test>
</suite>